
.modal {
  position: fixed;
  height: 100vh;
  width: 100%;
  &::backdrop {
    display: none;
  }
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(#000, 0.8);
  animation: activeModal 1s linear forwards;
  transition: background-color 1s ease-in;
}

.close {
  color: red;
  font-size: 42px;
  position: absolute;
  right: 13px;
  top: 36px;
}


@keyframes activeModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

